[submodule "TP1-ecommerce-monolith"]
	path = TP1-ecommerce-monolith
	url = https://github.com/hichamialaouichaymae/TP1-ecommerce-monolith.git
[submodule "TP2-ecommerce-modulaire-final"]
	path = TP2-ecommerce-modulaire-final
	url = https://github.com/hichamialaouichaymae/TP2-ecommerce-modulaire-final.git
[submodule "TP3-Architecture-distribu-e"]
	path = TP3-Architecture-distribu-e
	url = https://github.com/hichamialaouichaymae/TP3-Architecture-distribu-e.git
[submodule "TP2-SOA"]
	path = TP4-SOA
	url = https://github.com/hichamialaouichaymae/TP2-SOA.git
